In [2]:
!pip install numpy
!pip install pandas
!pip install matplotlib

Requirement already satisfied: numpy in d:\github\datascience-softuni\.venv\lib\site-packages (2.0.0)

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in d:\github\datascience-softuni\.venv\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in d:\github\datascience-softuni\.venv\lib\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\github\datascience-softuni\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\github\datascience-softuni\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\github\datascience-softuni\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in d:\github\datascience-softuni\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: matplotlib in d:\github\datascience-softuni\.venv\lib\site-packages (3.9.0)
Requirement already satisfied: contourpy>=1.0.1 in d:\github\datascience-softuni\.venv\lib\site-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in d:\github\datascience-softuni\.venv\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in d:\github\datascience-softuni\.venv\lib\site-packages (from matplotlib) (4.53.0)
Requirement already satisfied: kiwisolver>=1.3.1 in d:\github\datascience-softuni\.venv\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy>=1.23 in d:\github\datascience-softuni\.venv\lib\site-packages (from matplotlib) (2.0.0)
Requirement already satisfied: packaging>=20.0 in d:\github\datascience-softuni\.venv\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in d:\github\datascience-softuni\.venv\lib\site-packages (from matplotlib) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in d:\github\datascience-softuni\.venv\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in d:\github\datascience-softuni\.venv\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in d:\github\datascience-softuni\.venv\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import numpy as np # for numbers
import pandas as pd # for data
import matplotlib.pyplot as plt # for virtualization

In [7]:
pd.DataFrame({"name": ["Alex"], "age": [27]})

   name  age
0  Alex   27

In [9]:
accidents = pd.read_csv("Data-Acquisition-Materials/accidents.csv")

In [10]:
accidents

  Miles from Home  % of Accidents
0     less than 1              23
1          1 to 5              29
2         6 to 10              17
3        11 to 15               8
4        16 to 20               6
5         over 20              17

In [13]:
accidents.index

RangeIndex(start=0, stop=6, step=1)

In [18]:
accidents.columns

Index(['Miles from Home', '% of Accidents'], dtype='object')

In [33]:
print(accidents["Miles from Home"])
type(accidents["Miles from Home"])

0    less than 1
1         1 to 5
2        6 to 10
3       11 to 15
4       16 to 20
5        over 20
Name: Miles from Home, dtype: object

pandas.core.series.Series

In [39]:
print(accidents["% of Accidents"])

print(type(accidents["% of Accidents"]))

accidents["% of Accidents"].mean()

0    23
1    29
2    17
3     8
4     6
5    17
Name: % of Accidents, dtype: int64
<class 'pandas.core.series.Series'>

np.float64(16.666666666666668)

In [40]:
accidents.columns = ["miles", "percentage"] # change column names

In [41]:
accidents

         miles  percentage
0  less than 1          23
1       1 to 5          29
2      6 to 10          17
3     11 to 15           8
4     16 to 20           6
5      over 20          17

In [43]:
accidents.shape # return the number of rows and columns

(6, 2)

In [47]:
accidents.describe().T # return the statistics of the numerical columns

            count       mean       std  min    25%   50%   75%   max
percentage    6.0  16.666667  8.733079  6.0  10.25  17.0  21.5  29.0

In [48]:
accidents.dtypes

miles         object
percentage     int64
dtype: object

In [79]:
accidents.index = [1, 2, 3, 4, 5, 6] # changing the index of the rows

In [80]:
accidents

         miles  percentage
1  less than 1          23
2       1 to 5          29
3      6 to 10          17
4     11 to 15           8
5     16 to 20           6
6      over 20          17

In [81]:
accidents = accidents.reset_index(drop=True) # reset the index of the rows to the default

In [82]:
accidents

         miles  percentage
0  less than 1          23
1       1 to 5          29
2      6 to 10          17
3     11 to 15           8
4     16 to 20           6
5      over 20          17

In [83]:
# del accidents["column_name"] # delete a specfic column

In [84]:
accidents

         miles  percentage
0  less than 1          23
1       1 to 5          29
2      6 to 10          17
3     11 to 15           8
4     16 to 20           6
5      over 20          17

In [85]:
!pip install SQLAlchemy # to interact with databases

ERROR: Invalid requirement: '#'

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [87]:
import sqlalchemy

In [88]:
engine = sqlalchemy.create_engine("sqlite:///Data-Acquisition-Materials/example.db") # here is the file name

In [89]:
inspector = sqlalchemy.inspect(engine)

In [90]:
table_names = inspector.get_table_names()

In [91]:
table_names

['Orders', 'Products', 'Users']

In [92]:
pd.read_sql("select * from Users", engine)

   id        name                   email
0   1    John Doe    john.doe@example.com
1   2  Jane Smith  jane.smith@example.com